/* Fonts - 
   Page & Image Titles - PT Serif,serif
   Description & Links - PT Sans Caption,sans-serif
   font-family: 'PT Serif', serif;
   font-family: 'PT Sans Caption', sans-serif;

   Old Font: font-family: "Droid Serif", "Helvetica Neue", sans-serif;
*/

/* Nav ------------------------------------------ */
.navBar_ {
   text-align: left;
}
.logo_ {
   color: black;
   display: block;
   float: left;
   padding: 0.3125rem 0rem;
   margin-right: 30px;
}
.headerDayWord_ {
   font-family: 'PT Serif', serif;
   font-weight: 700;
   padding-bottom: 1rem;
}

.slogan_ {
   float: left;
   padding: 0.54rem 0rem 0.54rem 0rem;
}

/* Header ------------------------------------------ */

.headerUpload_ {
   text-align: center;
   margin-bottom: 0px;
   padding: 3.5rem 1rem;
   background-image: url('uploads/flowers/98e8b6d1cecbe2aae5e0278f80159418.jpg');
   box-shadow: inset 0 0 0 2000px rgba(54, 54, 54, 0.3);
   background-repeat: none;
   background-position: center center;
   background-size: cover;
   text-align: center;
   color: white;
}

.headerUpload_ .container p {
   margin-bottom: 0.3rem;
   font-size: 1.2rem;
   letter-spacing: 0.1rem;
   text-shadow: 1px 1px 2px black, 0 0 25px black;
}

.todaysWord {
   font-family: 'PT Serif', serif;
   font-size: 4.5rem;
   font-weight: 700;
   letter-spacing: 0.1rem;
   /* margin: 1rem 0rem 1.5rem 0rem; */
   padding: 0.15rem 0rem 0.2em 0rem;
   text-shadow: 1px 1px 2px black, 0 0 25px black;
}

.photoUpload_ {
   width: 250px;
}

.photoUpload_ {
   text-align: center;
}

.uploadPicture_ {
   margin-bottom: 20px;
   text-align: left;
   background-color: #ebebeb;
}

.uploadImageLabel_ {
   text-align: left;
   background-color: #ebebeb;
}

/* Main ------------------------------------------ */

main {
   padding: 20px;
}

/* Past Days -------------------- */

.pastDays_ {
   padding-bottom: 10px;
   /* overflow-x: scroll; */
}

.pastday_ {
   margin: 0px 10px 10px 0px;
   background-color: #b4b4b5;
   border: 0;
}

/* Card Columns -------------------- */

.cardBody_ {
   padding: 0.7rem;
}

.cardTitle_ {
   font-family: inherit;
   font-size: 1.15rem;
   font-weight: 500;
   line-height: 1.2;
   color: inherit;
}

.rateBtn_ {
   display: block;
   float: right;
}

@media (min-width: 0em) {
    .card-columns {
       -webkit-column-count: 1;
       -moz-column-count: 1;
       column-count: 1;
    }
 }

@media (min-width: 62em) {
   .card-columns {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
   }
}
/* 
@media (min-width: 34em) {
    .card-columns {
       -webkit-column-count: 2;
       -moz-column-count: 2;
       column-count: 2;
    }
 } */

@media (min-width: 68em) {
   .card-columns {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
   }
}

@media (min-width: 79em) {
   .card-columns {
      -webkit-column-count: 4;
      -moz-column-count: 4;
      column-count: 4;
   }
}

@media (min-width: 89em) {
   .card-columns {
      -webkit-column-count: 5;
      -moz-column-count: 5;
      column-count: 5;
   }
}